<div class="col-sm-12">
    <h1 class="text-center">Seja bem vindo. Escolha uma Plataforma para continuar</h1>
</div>
<div class="col-sm-12">
    <div class="bs-calltoaction bs-calltoaction-primary" ng-repeat="platform in ctrl.platforms">
        <div class="row">
            <div class="col-md-9 cta-contents">
                <h1 class="cta-title">{{platform.nome}}</h1>
                <div class="cta-desc">
                    <p>{{platform.descricao}}</p>
                </div>
            </div>
            <div class="col-md-3 cta-button">
                <a ui-sref="plans({platform:platform.sku})" class="btn btn-lg btn-block btn-primary">Prosseguir</a>
            </div>
        </div>
    </div>
</div>