<div class="col-sm-12">
    <h1 class="text-center">Preencha seus dados para finalizar o cadastro</h1>
</div>
<div class="col-sm-8">

    <form name="userForm" ng-submit="ctrl.submitPlan(userForm.$valid)" novalidate>


        <div class="form-group">
            <label>Nome</label>
            <input type="text" name="name" class="form-control" ng-model="ctrl.user.name" required>
        </div>

        <div class="form-group">
            <label>Email</label>
            <input type="email" name="email" class="form-control" ng-model="ctrl.user.email">
        </div>
        <div class="form-group">
        <label>Date de nascimento</label>
        <input type="date" name="nascimento" class="form-control" ng-model="ctrl.user.nascimento">
        </div>
        <div class="form-group">
            <label>CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" ng-model="ctrl.user.cpf" placeholder="000.000.000-00">
        </div>


        <div class="form-group">
            <label>Telefone</label>
            <input type="number" name="telefone" class="form-control" ng-model="ctrl.user.telefone">
        </div>

        <button type="submit" class="btn btn-primary">Enviar</button>

    </form>

</div>