<div class="row">
<div class="col-sm-12">
    <h1 class="text-center">Escolha um Plano para continuar</h1>
</div>
<div class="col-md-4" ng-repeat="plan in ctrl.plans">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h4 class="text-center">{{plan.franquia}}</h4>
        </div>
        <div class="panel-body text-center">
            <p class="lead">
                <strong>R$ {{plan.valor}}</strong></p>
        </div>
        <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-danger" ng-click="ctrl.goSubmit(plan)">Assine Agora!</a>
        </div>
    </div>
</div>
</div>